body{
    padding: 0;
    margin: 0;
}

/*La classe box*/

.box{
    border: 0.1px solid black;
    position: absolute;
    top: 50%;                       /*Le positionnement absolu permet de garantir une position, peut importe*/
    left: 50% ;                      /*les changements de tailles de la page*/

    transform:translate(-50%, -50%);    /*transform: translate permet de redimensionner quand on change la taille*/
    padding: 10px;
    height: 30px;
    width: 500px;
    box-shadow: 1px 1px 5px #888888;
    border-radius: 40px;
}

.input-box{
    margin-left: 15px;
    width: 420px;
    height: none;
    font-size: 15px;
    border: none;
}


/*Les classes loupe et voix*/

.loupe{
    float: left;                /*.loupe est la classe du lien <a> dans lequel il y a l'image de la loupe*/
    width: 30px;
    height: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.voix{
    float: right;
    width: 30px;
    height: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.loupe > img, .voix > img{    /* .loupe > img veut dire "on sélectionne l'image dans la classe loupe" */
    height: 20px;
    width: auto;               /*le lien <a> de classe "loupe" est la boîte contenant l'image de la loupe,  */
}                              /*ce qui explique la nécessité du redimensionnement*/



img:hover{                     /*hover veut dire "survol" (de la souris) */

    transform: rotate(45deg);   /* rotation */
    transition: 1000ms;
}

/*Le logo*/

.taggle-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
    padding-bottom: 250px;
}

span{
    font-size: 100px;
}


/*Les boutons*/

.button{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%)
}


.btn{
    margin: 150px 10px 0 0;
    font-size: 15px;
    padding: 8px 15px;
    border: none;
    color: #6e6e6e;
    border-radius : 5px;
    background-color: white;
}

.btn:hover{
    border: 1px solid #a4a4a4;
}
